@inject IWordGeneratorService ItemService
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    @{
        string phrase = string.Empty;
        await foreach (var x in ItemService.GetWordsAsync(20))
        {
            phrase += " " + x.Word;
        }
    }

    <p>
        @phrase
    </p>
</div>